
.home-subA h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.home-subA h5 {
    font-weight: bold;
    margin-bottom: 10px;
}

.home-subA p {
  margin-bottom: 20px;
  font-size: 18px;
}

.btnSa {
  background-color: #8b008b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
    .home-subA h2{
        font-size: 2rem;
    }
    .btnSa {
        width: 100%;
    }
}
